{% extends 'admin.html.twig' %}

{% block title %}
    Post
{% endblock %}

{% block body %}
    <div class="col-lg-6">
        <div class="ibox">
            <div class="ibox-title">
                <h1>
                    Post
                </h1>
            </div>
            <div class="ibox-content">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>
                                Id
                            </th>
                            <td>
                                {{ post.id }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Name
                            </th>
                            <td>
                                {{ post.name }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Content
                            </th>
                            <td>
                                {{ post.content }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                PublischedAt
                            </th>
                            <td>
                                {{ post.publischedAt
                                    ? post.publischedAt|date('Y-m-d H:i:s')
                                    : '' }}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <a class="btn btn-white btn-sm"
                    href="{{ path('app_admin_post_index') }}">
                    back to list
                </a>
            </div>
        </div>
    </div>
{% endblock %}
