{% extends 'admin.html.twig' %}

{% block title %}
    Edit Category
{% endblock %}

{% block body %}
    <div class="col-lg-6">
        <div class="ibox">
            <div class="ibox-title">
                <h1>
                    Edit Category
                </h1>
            </div>
            <div class="ibox-content">
                {# ФОРМА РЕДАКТИРОВАНИЯ #}
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="form-group row mt-3">
                    <div class="col-sm-4 col-sm-offset-2">
                        <a class="btn btn-secondary btn-sm"
                            href="{{ path('app_admin_category_index') }}">
                            back to list
                        </a>
                        <button class="btn btn-primary btn-sm" type="submit">
                            {{ button_label|default('Update') }}
                        </button>
                        {% if category is defined and category.id %}
                            {{
                                include(
                                    'admin/category/_delete_form.html.twig',
                                    {
                                        category: category
                                    }
                                )
                            }}
                        {% endif %}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
